.table {
  width: 100%;
}

.tablerow {
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.tablecontainer td {
  padding: 1rem;
  border: 1px solid black;
}

.tablecontainer th {
  text-transform: uppercase;
}

.tablecontainer {
  border: 1px solid black;
  padding: 3rem 5rem;
  margin: 1rem;
}
